<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  id="WebApp_ID"
  version="2.3"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_3.xsd">
  <display-name>poker</display-name>
  <context-param>
    <param-name>webAppRootKey</param-name>
    <param-value>mydream.root</param-value>
  </context-param>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
    	/WEB-INF/applicationContext.xml
    	/WEB-INF/applicationContext-ssc.xml    
        /WEB-INF/applicationContext-user.xml	    
        /WEB-INF/applicationContext-sxw.xml	    
        /WEB-INF/applicationContext-exb.xml	    
    </param-value>
  </context-param>
  <context-param>
    <param-name>log4jConfigLocation</param-name>
    <param-value>/WEB-INF/config/log4j.properties</param-value>
  </context-param>
  <!-- 
	<filter>
		<filter-name>characterEncoding</filter-name>
		<filter-class>filterpac.CharacterEncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>characterEncoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	-->
  <!-- 
	<filter>
      <filter-name>ManageLoginFilter</filter-name>
      <filter-class>filterpac.ManageLoginFilter</filter-class>
    </filter>
    
    <filter>
      <filter-name>EntryFilter</filter-name>
      <filter-class>filterpac.EntryFilter</filter-class>
    </filter>
    
     <filter-mapping>
        <filter-name>ManageLoginFilter</filter-name>
        <url-pattern>/manuserinfo.jsp</url-pattern>
    </filter-mapping>
    
    <filter-mapping>
        <filter-name>EntryFilter</filter-name>
        <url-pattern>/index.jsp</url-pattern>
    </filter-mapping>
    -->

    <filter>
		<filter-name>messageFilter</filter-name>
		<filter-class>filterpac.MessageFilter</filter-class>
	</filter>
  <listener>
    <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
  </listener>
  <listener>   
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>   
  </listener>   
  <!-- 
  <servlet>
    <servlet-name>context</servlet-name>
    <servlet-class>org.springframework.web.context.ContextLoaderServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
   -->
  <servlet>
		<servlet-name>log4jConfigServlet</servlet-name>
		<servlet-class>org.springframework.web.util.Log4jConfigServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
  <!-- proxool_config begin -->
  <!-- -->
  <servlet>
    <servlet-name>proxoolInitialServlet</servlet-name>
    <servlet-class>org.logicalcobwebs.proxool.configuration.ServletConfigurator</servlet-class>
    <init-param>
      <param-name>xmlFile</param-name>
      <param-value>WEB-INF/classes/proxool.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
   
  <servlet>
    <servlet-name>Admin</servlet-name>
    <servlet-class>org.logicalcobwebs.proxool.admin.servlet.AdminServlet</servlet-class>
  </servlet>
  

  
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
    <init-param>
    	<param-name>config/ssc</param-name>
    	<param-value>/WEB-INF/struts-config-ssc.xml</param-value>
    </init-param>
    <init-param>
    	<param-name>config/sxw</param-name>
    	<param-value>/WEB-INF/struts-config-sxw.xml</param-value>
    </init-param>
    <init-param>
    	<param-name>config/exb</param-name>
    	<param-value>/WEB-INF/struts-config-exb.xml</param-value>
    </init-param>
    <init-param>
    	<param-name>config/user</param-name>
    	<param-value>/WEB-INF/struts-config-user.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>2</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>2</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/poolmanager</url-pattern>
  </servlet-mapping>
  <!-- proxool_config end -->
  <servlet>
    <servlet-name>EntryMain</servlet-name>
    <servlet-class>servletpack.EntryMain</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>servletpack.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginManager</servlet-name>
    <servlet-class>servletpack.LoginManager</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServRegister</servlet-name>
    <servlet-class>servletpack.ServRegister</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServWager</servlet-name>
    <servlet-class>servletpack.ServWager</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServUserInfo</servlet-name>
    <servlet-class>servletpack.ServUserInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserPageShow</servlet-name>
    <servlet-class>servletpack.UserPageShow</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserDetailInfo</servlet-name>
    <servlet-class>servletpack.UserDetailInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UseInfWagRem</servlet-name>
    <servlet-class>servletpack.UseInfWagRem</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HapWager</servlet-name>
    <servlet-class>servletpack.HapWager</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WinNumPlus</servlet-name>
    <servlet-class>servletpack.WinNumPlus</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NumTrendChart</servlet-name>
    <servlet-class>servletpack.NumTrendChart</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StartWinMovie</servlet-name>
    <servlet-class>servletpack.StartWinMovie</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServMulIssue</servlet-name>
    <servlet-class>servletpack.ServMulIssue</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WinQuery</servlet-name>
    <servlet-class>servletpack.WinQuery</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WinNumPost</servlet-name>
    <servlet-class>servletpack.WinNumPost</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WinNumShow</servlet-name>
    <servlet-class>servletpack.WinNumShow</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WinPageShow</servlet-name>
    <servlet-class>servletpack.WinPageShow</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LauWager</servlet-name>
    <servlet-class>servletpack.LauWager</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LauWinPageShow</servlet-name>
    <servlet-class>servletpack.LauWinPageShow</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LauWinNumPlus</servlet-name>
    <servlet-class>servletpack.LauWinNumPlus</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LauWinQuery</servlet-name>
    <servlet-class>servletpack.LauWinQuery</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PthIssCon</servlet-name>
    <servlet-class>servletpack.PthIssCon</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginManInit</servlet-name>
    <servlet-class>servletpack.LoginManInit</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HapIssCon</servlet-name>
    <servlet-class>servletpack.HapIssCon</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HapWinPageShow</servlet-name>
    <servlet-class>servletpack.HapWinPageShow</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HapWinNumPlus</servlet-name>
    <servlet-class>servletpack.HapWinNumPlus</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HapWinQuery</servlet-name>
    <servlet-class>servletpack.HapWinQuery</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HapTrendChart</servlet-name>
    <servlet-class>servletpack.HapTrendChart</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PthTrendChart</servlet-name>
    <servlet-class>servletpack.PthTrendChart</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PthWinPageShow</servlet-name>
    <servlet-class>servletpack.PthWinPageShow</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PthWinNumPlus</servlet-name>
    <servlet-class>servletpack.PthWinNumPlus</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PthWinQuery</servlet-name>
    <servlet-class>servletpack.PthWinQuery</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SpecUserOper</servlet-name>
    <servlet-class>servletpack.SpecUserOper</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UseInfRead</servlet-name>
    <servlet-class>servletpack.UseInfRead</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UseInfOper</servlet-name>
    <servlet-class>servletpack.UseInfOper</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PokIssCon</servlet-name>
    <servlet-class>servletpack.PokIssCon</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PthWager</servlet-name>
    <servlet-class>servletpack.PthWager</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ValImage</servlet-name>
    <servlet-class>servletpack.ValImage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BulPlus</servlet-name>
    <servlet-class>servletpack.BulPlus</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Test</servlet-name>
    <servlet-class>servletpack.Test</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PrMon</servlet-name>
    <servlet-class>servletpack.PrMon</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdatPass</servlet-name>
    <servlet-class>servletpack.UpdatPass</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UseInfPrDel</servlet-name>
    <servlet-class>servletpack.UseInfPrDel</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SpecUserInfUp</servlet-name>
    <servlet-class>servletpack.SpecUserInfUp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PageShow</servlet-name>
    <servlet-class>servletpack.PageShow</servlet-class>
  </servlet>
  <!-- add by ljy on 2009-5-25 -->
  <!-- dwr servlet-->
  <servlet>
    <servlet-name>dwr-invoker</servlet-name>
    <servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/dwr/dwr.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>false</param-value>
    </init-param>
    <load-on-startup>6</load-on-startup>
  </servlet>
  <!-- dwr Servlet Mapping-->
  <!-- server time begin -->
  <servlet>
    <servlet-name>serverTime</servlet-name>
    <servlet-class>com.onmyway.common.ServerTimeServlet</servlet-class>
  </servlet>
  
    <servlet-mapping>
    <servlet-name>serverTime</servlet-name>
    <url-pattern>/servlet/serverTime</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>dwr-invoker</servlet-name>
    <url-pattern>/dwr/*</url-pattern>
  </servlet-mapping>
  <!-- add by ljy on 2009-5-25  end -->
  <servlet-mapping>
    <servlet-name>EntryMain</servlet-name>
    <url-pattern>/servlet/entrymain</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/servlet/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginManager</servlet-name>
    <url-pattern>/man</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServRegister</servlet-name>
    <url-pattern>/servlet/servregister</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServWager</servlet-name>
    <url-pattern>/servlet/servwager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServUserInfo</servlet-name>
    <url-pattern>/servlet/servuserinfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserPageShow</servlet-name>
    <url-pattern>/servlet/userpageshow</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserDetailInfo</servlet-name>
    <url-pattern>/servlet/userdetailinfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UseInfWagRem</servlet-name>
    <url-pattern>/servlet/useinfwagrem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HapWager</servlet-name>
    <url-pattern>/servlet/hapwager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WinNumPlus</servlet-name>
    <url-pattern>/servlet/winnumplus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NumTrendChart</servlet-name>
    <url-pattern>/servlet/numtrendchart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StartWinMovie</servlet-name>
    <url-pattern>/servlet/startwinmovie</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServMulIssue</servlet-name>
    <url-pattern>/servlet/servmulissue</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WinQuery</servlet-name>
    <url-pattern>/servlet/winquery</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WinNumPost</servlet-name>
    <url-pattern>/servlet/winnumpost</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WinNumShow</servlet-name>
    <url-pattern>/servlet/winnumshow</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WinPageShow</servlet-name>
    <url-pattern>/servlet/winpageshow</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LauWager</servlet-name>
    <url-pattern>/servlet/lauwager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LauWinPageShow</servlet-name>
    <url-pattern>/servlet/lauwinpageshow</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LauWinNumPlus</servlet-name>
    <url-pattern>/servlet/lauwinnumplus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LauWinQuery</servlet-name>
    <url-pattern>/servlet/lauwinquery</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PthIssCon</servlet-name>
    <url-pattern>/servlet/pthisscon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginManInit</servlet-name>
    <url-pattern>/servlet/loginmaninit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HapIssCon</servlet-name>
    <url-pattern>/servlet/hapisscon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HapWinPageShow</servlet-name>
    <url-pattern>/servlet/hapwinpageshow</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HapWinNumPlus</servlet-name>
    <url-pattern>/servlet/hapwinnumplus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HapWinQuery</servlet-name>
    <url-pattern>/servlet/hapwinquery</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HapTrendChart</servlet-name>
    <url-pattern>/servlet/haptrendchart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PthTrendChart</servlet-name>
    <url-pattern>/servlet/pthtrendchart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PthWinPageShow</servlet-name>
    <url-pattern>/servlet/pthwinpageshow</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PthWinNumPlus</servlet-name>
    <url-pattern>/servlet/pthwinnumplus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PthWinQuery</servlet-name>
    <url-pattern>/servlet/pthwinquery</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SpecUserOper</servlet-name>
    <url-pattern>/servlet/specuseroper</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UseInfRead</servlet-name>
    <url-pattern>/servlet/useinfread</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UseInfOper</servlet-name>
    <url-pattern>/servlet/useinfoper</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PokIssCon</servlet-name>
    <url-pattern>/servlet/pokisscon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PthWager</servlet-name>
    <url-pattern>/servlet/pthwager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ValImage</servlet-name>
    <url-pattern>/servlet/valimage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BulPlus</servlet-name>
    <url-pattern>/servlet/bulplus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/servlet/test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PrMon</servlet-name>
    <url-pattern>/servlet/prmon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdatPass</servlet-name>
    <url-pattern>/servlet/updatpass</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UseInfPrDel</servlet-name>
    <url-pattern>/servlet/useinfprdel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SpecUserInfUp</servlet-name>
    <url-pattern>/servlet/specuserinfup</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PageShow</servlet-name>
    <url-pattern>/servlet/pageshow</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <!--  
	<session-config>
	<session-timeout>1</session-timeout >
	</session-config> 
-->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <taglib>
      <taglib-uri>/WEB-INF/tagtld/custaglib</taglib-uri>
      <taglib-location>/WEB-INF/tagtld/custaglib.tld</taglib-location>
    </taglib>
  </jsp-config>
</web-app>

